a{
    text-decoration-line: none;
    color: black;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
header{
    background-color: #46a654;
    height: auto;
    
}
.logo{
    margin-left: 25px;
}
.itens_header{
    display: flex;
    align-items: center;
    gap: 1500px;
}
.links_header{
    font-size: 20px;
    border: 1px;
    padding: 0;
    height: 30px;
    border: black;
}
.link_wpp{
     border: 10px solid white;
     border-radius: 30px;
    padding: 10px;
    background-color: white;
    
}
.links_header:hover{
    
}