a{
    text-decoration-line: none;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
header{
    background-color: #46a654;
    height: auto;
    
}
.logo{
    margin-left: 25px;
}
.itens_header{
    display: flex;
    align-items: center;
    gap: 1500px;
}
.links_header{
    height: 30px;
    text-align: center;
    gap: 2;
    background-color: white;
}