body{
    padding:0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(4, 92, 30);
    margin: 30px;
    width: auto;
    height: 150px;
    display: flex;
}
/* imagens */
.itens_header{
    margin-left: 30px;
    color: rgb(196, 252, 189);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.logo{
    width: 150px;
}
.header_wpp{
    padding: 5px;
    margin-left: 30px;
    display: flex;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    gap:10px;
} 
.text-guincho{
    font-size: 50px;
}
.space{
    width: 1060px;
}
.number_wpp{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 12px;
}


